
*{
    color: white
}

a{
    text-decoration: none;
}
body{
    background-image: url(img/mainbackground.png);
    font-family: "Work Sans";
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 50px;

}

.df{
    display: flex;
    
    
}

.cl{
    flex-direction: column;
}

.header{
    margin: 0 100px 0 100px;
   
}

.nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.buttom{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px white solid;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    
}

.buttom_a2{
    display: flex;
    align-items: center;
    border: 1px #D7FC6E solid;
    border-radius: 20px;
    background-color: #D7FC6E;
    width: 150px;
    height: 35px;
    gap: 15px;
    color: black;
}

.text_a1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 0;

}

.text_a1 h1{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

.text_a1 p{
    font-size: 16px;
    font-weight: 300;
}
.img_tickets{
    padding: 20px 20px 20px 50px;
}


.tickets{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 60px 100px 200px 100px;
    gap: 20px;
    

}
.card{
    border: 1px white solid;
    border-radius: 10px;
    margin-left: px;
    width: 49%;
    background-image: linear-gradient(to right,#ffffff50,#80808050);
    
}

.text{
    margin-right: 150px;
}
.text h3{
    margin-top: 40px ;
    margin-bottom: 5px;
}

.text h4{
    margin: 0 0 0 0;
}

.text p{
    margin: 5px 0 0 0 ;
}

.circleleft{


}

.circleright{


}

.footer{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
}